<div class="container">
  <h5 class="text-center">Study Material</h5>

  <!-- Mandatory Fields Section -->
  <div class="top-section layout-header mb-4">
    <div class="mandatory-fields">
      <p>Fields marked with (*) are mandatory</p>
    </div>
    <div class="button-section text-end">
      <select id="ddlclass" [(ngModel)]="class_id" (change)="classChange()">
        <option value="0">Select Class</option>
        <option *ngFor="let cls of classList; index as i" [value]="cls.class_id">{{ cls.class_name }}</option>
      </select>
      <a routerLink="/subject/add-syllabus" routerLinkActive="active" class="btn btn-primary">Add Syllabus</a>
    </div>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Error Alert -->
  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{ error }}
  </div>

  <!-- Main Content for Syllabus List -->
  <div *ngIf="!isLoading && syllabusList.length > 0">
    <div *ngFor="let classGroup of syllabusList" class="class-group">
       

      <!-- Loop over subjects for each class -->
      <div *ngFor="let subject of classGroup.subjects">
        <h6 class="text-secondary subject-title"><strong>{{ classGroup.className }} &nbsp;({{ subject.subjectName }})</strong></h6>

        <div *ngFor="let syllabus of subject.topics">
          <div class="card-body row">
            <div class="col-md-5">
              <h5 class="card-title text-start topic-title">{{ syllabus.topic_name }}</h5>
            </div>
            <div class="col-md-7 row">
              <p class="card-text text-start col-md-7">
                <strong>Chapter:</strong> {{ syllabus.chapterName }}<br>
              </p>
              <div class="text-md-end col-md-5">
                <a (click)="downloadDocument(syllabus.document)" class="btn btn-success btn-sm">
                  <i class="bi bi-download"></i> Download
                </a>
                <a (click)="deleteSyllabus(syllabus.syllabus_id)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Syllabus Found -->
  <div *ngIf="!isLoading && syllabusList.length === 0" class="alert alert-info text-center" role="alert">
    No syllabus found.
  </div>
</div>
