
.container {
  margin-top: 30px;
}

.layout-header h5 {
  font-size: 2rem;
  font-weight: 600;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
}

.btn-outline-secondary {
  border: 1px solid #6c757d;
  color: #6c757d;
  background-color: transparent;
}

  .btn-outline-secondary:hover {
    background-color: #f8f9fa;
    color: #0056b3;
  }

.table-bordered th, .table-bordered td {
  padding: 12px 15px;
  text-align: left;
}

.table-bordered {
  border-collapse: collapse;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

  .btn-success:hover {
    background-color: #218838;
  }

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-striped tbody tr:hover {
  background-color: #e9ecef;
}

span{
    color:red;
    font-weight:bold;
}
