<div class="container mt-2">
  <!-- Header Section -->
  <div class="row layout-header">
    <div class="col-md-7">
      <h4>Lead List</h4>
    </div>
    <div class="col-md-5 text-right">
      <a routerLink="/counsellor-leads/add-lead" routerLinkActive="active" class="btn btn-outline-primary btn-sm mx-2">Add More Leads</a>
      <button id="sendSmsBtn" class="btn btn-outline-secondary btn-sm">Send SMS</button>
    </div>
  </div>

  <app-success-message-popup *ngFor="let message of messages; let i = index"
                             [messages]="message" [showSuccessPopup]="showSuccessPopup"
                             (closePopup)="closeMessagePopup(i)"></app-success-message-popup>

  <!-- Search Section -->
  <div class="row mt-3">
    <div class="col-md-8">
      <form id="searchForm" class="form-inline" (ngSubmit)="filter(searchText)">
        <input type="text" id="searchInput" class="form-control mr-2" name="searchInput" [(ngModel)]="searchText" placeholder="Search Name or Phone" #name="ngModel" required>
        <button type="submit" class="btn btn-primary">Go</button>
      </form>
    </div>
  </div>

  <!-- Data Table Section -->
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-bordered" id="leadTable">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Followup</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="leadTableBody">
          <tr *ngFor="let l of filteredleads; index as i" [ngClass]="{'follow-up': l.followups && l.followups.length > 0}">
            <td>{{i+1}}</td>
            <td>{{l.name}}</td>
            <td>{{l.phone}}</td>
            <td>{{l.father_name}}</td>
            <td>{{l.mother_name}}</td>
            <td>{{l.lead_type_id}}</td>
            <td>{{l.date | date : 'dd MMM yyyy'}}</td>
            <td>
              <span *ngIf="l.next_followup">{{ l.next_followup | date : 'dd MMM yyyy' }}</span>
              <span *ngIf="!l.next_followup">No follow-up scheduled</span>
            </td>
            <td>
              <div class="action-container">
                <button class="btn btn-info btn-sm btn-action" (click)="toggleBtn(i)">Action</button>
                <ul *ngIf="toggleIndex === i" class="action-list">
                  <li [routerLink]="['/counsellor-leads/add-lead',l.lead_id]"><i class="fas fa-edit"></i> Edit</li>
                  <li (click)="sendFollowupData(l.lead_id, l.followups ? l.followups : [])">
                    <i class="fas fa-calendar-check"></i> Follow up
                  </li>
                  <li (click)="deletelead(l.lead_id,i)"><i class="fas fa-trash-alt"></i> Delete</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
