
<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">
      List of all homework
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/lessonplan" routerLinkActive="active">Copy Correction</a>
      <a routerLink="/students/video-tutorial" routerLinkActive="active">Videos</a>
    </div>
  </div>

  <div class="row searching">
    <div class="col-md-3">
      <select>
        <option>Select Class</option>
        <option>I</option>
        <option>II</option>
        <option>III</option>
      </select>
    </div>
    <div class="col-md-3">
      <select>
        <option>Select Teacher</option>
        <option>I</option>
        <option>II</option>
        <option>III</option>
      </select>
    </div>
    <div class="col-md-4">
      <input id="homework" placeholder="Search homework.." />
    </div>
    <div class="col-md-2">
      <button>Go</button>
    </div>
  </div>

  <div class="maindiv">
    <div class="row note-entry">
      <h6>No record found !!</h6>
    </div>
    <!-- Repeat block below -->
  </div>
</div>


