<div *ngIf="!viewSingleStudent" class="container mt-1">
  <!-- Header Section -->
  <h6>Alumni Student</h6>

  <app-success-message-popup *ngFor="let message of messages; let i = index"
                             [messages]="message" [showSuccessPopup]="showSuccessPopup"
                             (closePopup)="closeMessagePopup(i)">
  </app-success-message-popup>

  <div class="row layout-header mb-3">
    <div class="col-md-7">
      <p class="font-weight-bold">Student Alumni List</p>
    </div>
    <div class="col-md-5 text-right">
      <!--<a class="btn btn-outline-primary btn-sm">Export CSV</a>
      <a class="btn btn-outline-primary btn-sm">Print Report</a>
      <a class="btn btn-outline-primary btn-sm">Generate TC(BULK)</a>-->
    </div>
  </div>

  <!-- Filters Section -->
  <div class="filters">
    <select id="ddlselect" [(ngModel)]="selectedClassId">
      <option value="0">Select Class</option>
      <option *ngFor="let cls of classList" [value]="cls.class_id">
        {{ cls.class_name }}
      </option>
    </select>

    <input type="text" placeholder="Search Name or Phone" />

    <select>
      <option value="-1">Select Status</option>
      <option value="1">Active</option>
      <option value="0">Inactive</option>
    </select>
  </div>

  <!-- Alumni Table -->
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Class</th>
          <th>Roll</th>
          <th>Adm. Date</th>
          <th>Session</th>
          <th>Adm/Reg No.</th>
          <th>TC No.</th>
          <th>Phone</th>
          <th>Dues</th>
          <th>MovedOn</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the alumniData and display each student's details -->
        <tr *ngFor="let alumni of alumniData; let i = index">
          <td>{{ i + 1 }}</td>  <!-- Display index + 1 for row number -->
          <td>{{ alumni.studentMaster.first_name }} {{ alumni.studentMaster.last_name || '' }}</td>
          <td>{{ alumni.studentMaster.class_name || 'N/A' }}</td>
          <td>{{ alumni.studentMaster.stu_id || 'N/A' }}</td>
          <td>{{ alumni.studentMaster.adm_date | date: 'dd MMM yyyy' }}</td>
          <td>{{ alumni.studentMaster.session || 'N/A' }}</td>
          <td>{{ alumni.studentMaster.registration_no || 'N/A' }}</td>
          <td>{{ alumni.studentMaster.created_date | date: 'dd MMM yyyy' }}</td>
          <td>{{ alumni.studentMaster.aadhar_card || 'N/A' }}</td>
          <td>{{ alumni.studentMaster.registration_amt || '₹0' }}</td>
          <td>{{ alumni.studentMaster.updated_date | date: 'dd MMM yyyy' }}</td>
          <td class="optionListTD">
            <button class="actionbtn" (click)="toggleBtn(i)">Action</button>
            <ul *ngIf="showOptions === i" class="action-button optionList">
              <li (click)="passSingleStu(alumni.studentMaster)" *ngIf="permissions.canView"><i class="fa fa-eye"></i> <a> View</a></li>
              <li (click)="deleteStudent(alumni.studentMaster.uid, alumni.studentMaster.stu_id)" *ngIf="permissions.canDelete"><i class="fa fa-trash"></i> <a> Delete</a></li>
              <li (click)="generateTC(alumni.studentMaster.uid, alumni.studentMaster.stu_id)"><i class="fa fa-file"></i> <a> Generate TC</a></li>
              <li (click)="restoreStu(alumni.studentMaster.uid, alumni.studentMaster.stu_id)"><i class="fa fa-refresh"></i> Restore</li>
              <li (click)="updateDues(alumni.studentMaster.uid, alumni.studentMaster.stu_id)"><i class="fa fa-credit-card"></i> Update Dues</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-view-single-student *ngIf="viewSingleStudent" [childData]="alumni" (viewPopup)="closePopup($event)"></app-view-single-student>
