

<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">Teacher List</div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/acedemics/curriculum" routerLinkActive="active">View Subjects</a>
      <a routerLink="/students/acedemics/home-work" routerLinkActive="active">Home Work</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <input id="searchInput" type="search" placeholder="Search Teacher" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary">GO</button>
    </div>
  </div>

  <div class="row teachercontent">
    <div class="col-md-4">
      c
    </div>
    <div class="col-md-4">
      c
    </div>
    <div class="col-md-4">
      c
    </div>
    <div class="col-md-4">
      c
    </div>
    <div class="col-md-4">
      c
    </div>
    <div class="col-md-4">
      c
    </div>
  </div>

</div>
