


<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">List of all return book.</div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/subject-teachers" routerLinkActive="active">Subject Teachers</a>
      <!--    <a routerLink="/account-settings/expense-category" routerLinkActive="active">Print Report</a>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <input id="searchbook" type="text" placeholder="Search Book" />
    </div>
    <div class="col-md-3">
      <button id="searchInput">GO</button>
    </div>
  </div>

  <div class="row recordtable">
    <div class="col-md-12 d-flex flexdiv">
      <div class="col-md-3">
        <p>24/07/2024 10:53 AM</p>
        <h6>PTM</h6>
        <p><button>Download</button></p>
      </div>

      <div class="col-md-9">
        <p><strong>Notice:</strong> For Everyone</p>
        <p>PTM Will be held on 28 March. All guardians are requested to come to school and collect their wards Report card.</p>
        <p>-Principal</p>
      </div>
    </div>

    <div class="col-md-12 d-flex">
      <div class="col-md-3">
        <p>14/05/2024 01:23 AM</p>
        <h6>Test F8</h6>
        <p></p>
      </div>

      <div class="col-md-9">
        <p><strong>Notice:</strong> For Everyone</p>
        <p>
          Notes : Dear Parents and Students, It is here by informed you that the school will closed on 18/06/24 and 19/06/24 for classes NURSERY to Class 8 due to heat wave .
          Class 9 and 10 will be open as per previous schedule (6:50 AM to 11:00 AM)
        </p>
        <p>-Principal</p>
      </div>
    </div>
  </div>

</div>
