
.main-area {
  display: flex;
  /*justify-content: space-evenly;*/ /* Space the items evenly */
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

  .main-area li {
    width: 30%; /* Keeps them responsive */
    font-size: 20px;
    color: green;
    text-align: center; /* Centers the text inside the list item */
    padding: 15px;
    border: 1px solid #ddd; /* Adds a light border to each list item */
    border-radius: 8px; /* Gives rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Change cursor to indicate interactivity */
  }

    .main-area li:hover {
      background-color: #f0f0f0; /* Slight gray background on hover */
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow on hover */
      color: #333; /* Change text color to dark */
      transform: scale(1.05); /* Slight zoom effect */
    }

.attendance_maindiv div:first-child{
    justify-content:center;
}

.Present {
  color: green !important;
}
.Absent {
  color: darkred !important;
}
.Leave {
  color: lightcoral !important;
}

.show_att_detail {
  background-color: #ddd;
}

.text-right {
  text-align: right;
}

.table {
  width: 100%;
  margin-top: 30px; 
}

  .table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd; /* Add borders to table cells */
  }

  .table th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
  }

  .table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row colors */
  }

  .table tr:hover {
    background-color: #eaeaea; /* Hover effect on table rows */
  }

  .table td {
    color: #555; /* Slightly lighter color for table data */
  }

.layout-header {
  margin-bottom: 20px;
}

  .layout-header .col-md-6 {
    font-size: 24px;
    font-weight: bold;
  }

    .layout-header .col-md-6.text-right {
      text-align: right;
    }

.attendance_table{
    width:80%; 
  
}
.attendance_div {
  margin-top: 50px;
}
@media (min-width:768px){
  .attendance_div {
   margin-left:70px;
  }
}

.under-construction {
  background-color: #f8d7da;  
  color: #721c24;  
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


