

<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">Lesson Plan</div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/acedemics/curriculum" routerLinkActive="active">Curriculum</a>
      <a routerLink="/account-settings/expense-category" routerLinkActive="active">Print Report</a>
    </div>
  </div>

  <div class="row filtersection">
    <div class="col-md-2">
      <select id="ddlcls">
        <option>Select Class</option>
        <option>I</option>
        <option>II</option>
        <option>III</option>
        <option>IV</option>
      </select>
    </div>
    <div class="col-md-2">
      <select id="ddlgrp">
        <option>Select Group</option>
        <option>Book</option>
      </select>
    </div>
    <div class="col-md-2">
      <select id="ddlsubject">
        <option>Select Group</option>
        <option>SST</option>
        <option>Hindi</option>
        <option>English</option>
        <option>Maths</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="text" placeholder="TITLE| PUBLICATION| AUTHOR| ACCESSION NO.| SERIAL NO." />
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <tr class="table-fc">
        <td colspan="7"><strong>Campus Cover ERP Software</strong> -Library Book List</td>
      </tr>
      <tr>
        <td>#</td>
        <td>TITLE</td>
        <td>Author</td>
        <td>Accession</td>
        <td>Class</td>
        <td>Publisher</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Complete English Grammer</td>
        <td>Author</td>
        <td>Accession</td>
        <td>Class</td>
        <td>Publisher</td>
        <td></td>
      </tr>
      <tr class="childdiv">
        <td><strong>Quantity</strong> : 0</td>
        <td><strong>Barcode No.</strong> : 7 1234037b2143 3482</td>
        <td><strong>Sr. No.</strong> :</td>
        <td><strong>Almeria No.</strong> : 15</td>
        <td><strong>Rack No.</strong> : B</td>
        <td><strong>Position</strong> : left</td>
        <!--<td>Action</td>-->
      </tr>
      <tr>
        <td>2</td>
        <td>New Pathvays Course in English</td>
        <td>Mala Palani</td>
        <td></td>
        <td></td>
        <td>Oxford University Press</td>
        <td></td>
      </tr>
      <tr class="childdiv">
        <td><strong>Quantity</strong> : 1</td>
        <td><strong>Barcode No.</strong> : BOMIS-34-20</td>
        <td><strong>Sr. No.</strong> :</td>
        <td><strong>Almeria No.</strong> : 15</td>
        <td><strong>Rack No.</strong> : B</td>
        <td><strong>Position</strong> : left</td>
        <!--<td>Action</td>-->
      </tr>
    </table>
  </div>

</div>
