<div class="login-wrapper">
  <div class="login-background">
    <div class="background-cube"></div>
    <div class="background-cube"></div>
  </div>

  <div class="login-container">
    <div class="row">

      <!-- Login Form Section -->
      <div class="col-lg-12 col-md-8 form-section">
        <div class="form-content">
          

          <!-- Login Form -->
          <form *ngIf="otpVerified == false" (ngSubmit)="otpVerfication()" #forgetPasswordForm="ngForm">
            <h3>Forget Password</h3>

            <!-- Email Input with Validation -->
            <div class="form-group">
              <input name="email" type="email" class="form-control" [(ngModel)]="email" #emailName="ngModel" placeholder="Enter Email:" required email />

            </div>

            <!-- Send OTP Button and Timer -->
            <div class="form-group">
              <button type="button" class="btn btn-link forgot-password-link" (click)="sendOTPfun()" [disabled]="emailName.invalid">
                Send OTP?
              </button>
              <!-- Show countdown if the timer is active -->
              <span *ngIf="timerObservable$ | async as time">
                {{ time }} seconds left
              </span>
            </div>

            <!-- OTP Input -->
            <div *ngIf="otpInput" class="form-group">
              <input name="otp" type="text" class="form-control" [(ngModel)]="userOTP" placeholder="Enter OTP" required />
            </div>

            <!-- Submit Button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!otpInput || !userOTP || forgetPasswordForm.invalid">
                Submit
              </button>
              <a routerLink="/login" class="forgot-password-link">Back to Login</a>
            </div>
          </form>

          <form *ngIf="otpVerified == true" (ngSubmit)="saveNewPassword()" #SavePasswordForm="ngForm">
            <h3>Enter New Password</h3>
            <div class="form-group">
              <input id="newPassword" type="password" placeholder="Enter New Password" name="newPassword" #newxPassword="ngModel" [(ngModel)]="newPassword" required />
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="SavePasswordForm.invalid">
              Submit
            </button>
          </form>
        </div>
      </div>

      <!-- Background Section -->
      <div class="col-lg-6 col-md-4 bg-img">
        <div class="info">
          <div class="overlay-box">
            <span></span><span></span><span></span><span></span>
            <div class="content">
              <div class="logo">
                <img src="assets/img/img33.png" alt="Background Image">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
