
.content-section {
  margin-top: 30px;
}

  .content-section h3 {
    background-color: #f0f0f0;
    padding: 10px;
    font-size:20px;
    font-weight: bold;
  }

.content-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #f8f9fa;
}

  .content-item h5 {
    margin-bottom: 10px;
  }

.btn {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

  .btn:hover {
    background-color: #0056b3;
  }

.row {
  margin-top: 15px;
}

