.success-message-popup { 
  border: 1px solid #d0e6ff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  margin-bottom:5px;
}

.success-message {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  width: 70%;
}

.message-popup {
  padding: 10px 5px;  
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #d9534f;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  width: 5%;
}
