<div class="container mt-2">
  <!-- Header Section -->
  <h6>Notice Board</h6> 
  <div class="row layout-header">
    <div class="col-md-7">
      <p>List of all Notices</p>
    </div>
    <div class="col-md-5 text-right">
      <a routerLink="/notice-board/student-desk" routerLinkActive="active" class="btn btn-outline-primary btn-sm mx-2">Subject Teachers</a>
      <a *ngIf="userRole != 'Student'" routerLink="/notice-board/add-notice" routerLinkActive="active" class="btn btn-outline-primary btn-sm mx-2">Add Notice</a>
    </div>
  </div>

  <!-- Notice List Table -->
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Notice Details</th>
            <th *ngIf="userRole != 'Student'">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of noticeList;index as i;">
            <td>
              <div class="notice">
                <p class="notice-date">{{n.created_At | date : 'dd MMM yyyy h:mm:ss a'}}</p>
                <p class="notice-title">{{n.subject}}</p>
                <div class="notice-actions">
                  <ng-container *ngIf="n.file_path">
                    <a [href]="n.file_path" target="_blank" class="btn btn-sm btn-outline-primary mr-2">
                      <i class="fa fa-download"></i> Download File
                    </a>
                  </ng-container>

                  <ng-container *ngIf="n.video_link">
                    <a [href]="n.video_link" target="_blank" class="btn btn-sm btn-outline-success">
                      <i class="fa fa-video-camera"></i> Watch Video
                    </a>
                  </ng-container>
                </div>
              </div>
            </td>
            <td>
              <div class="notice-div">
                <p><strong>Notice: </strong><span *ngIf="n.notice_for != ''" class="noticeFor">For {{n.notice_for}}</span></p>
                <label>{{n.notice}}</label>
              </div>
            </td>
            <td *ngIf="userRole != 'Student'" class="d-flex">
              <button [routerLink]="['/notice-board/add-notice',n.notice_id]" class="btn btn-sm">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm" (click)="notifyNotice(n.notice_id)" disabled>
                <i class="fa fa-bell"></i>
              </button>
              <button class="btn btn-sm" (click)="deleteNotice(n.notice_id,i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
