


<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">
      Exam Marks Details
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/online-examination/my-exams" routerLinkActive="active">Online Exam</a>
    </div>
  </div>


  <div class="maindiv">
    <div class="row note-entry">
      <table class="table table-striped">
        <tr>
          <td><strong>Exam Information</strong></td>
          <td><strong>Schedule</strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
        </tr>
        <tr>
          <td>Final Examination</td>
          <td></td>
          <td><button class="btnreport">Report Card</button></td>
          <td>Result Date : 31 Jul 2024</td>
        </tr>
        <tr>
          <td>
            FA 1
            I
          </td>
          <td>
            <div>
              <label>Exam Schedule (Download)</label>
              <p>2024 - 2025</p>
            </div>
          </td>
          <td><button class="btnreport">Marksheet</button></td>
          <td>
            Result Issued
            31 Jul 2024
          </td>
        </tr>
        <tr>
          <td>
            Annual Exam
            I
          </td>
          <td>
            <div>
              <label>Exam Schedule (Download)</label>
              <p>2024 - 2025</p>
            </div>
          </td>
          <td><button class="btnreport">Marksheet</button></td>
          <td>
            Result Issued
            31 Jul 2024
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



