
/* Additional spacing or custom tweaks */
.table th, .table td {
  vertical-align: middle;
}

label {
  font-weight: 500;
}

.table-responsive {
  margin-top: 10px;
}

.cbutton{
    padding:5px 10px;
    border:0px;
    color:white;
    background-color:#2ba6d5;
}

.sameFirst {
  font-size: 10px;
  font-weight: 450;
  color: #ff4400;
}

@media (max-width: 768px) {
  .table th, .table td {
    font-size: 14px;
    padding: 8px;
  }
}

