<div class="container mt-5">
  <!-- Header Section -->
  <div class="row layout-header">
    <div class="col-md-7">
      <p>Employee Salary Details : Assign Salaries to an Employee or Vendor</p>
    </div>
    <div class="col-md-5 text-right">
      <a routerLink="/payroll/salary/list" routerLinkActive="active" class="btn btn-outline-primary btn-sm mx-2">Salary List</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div>
        <label>Add Designation *</label>
        <input id="desig" placeholder="Enter your Designation Name" />
      </div>
      <div>
        <label>Employee *</label>
        <input id="depart" placeholder="Select Employee.." />
      </div>
      <div>
        <button>Search Detail</button>
      </div>
    </div>

  </div>

</div>
