
.container {
  width: 96%;
}

.filter-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

  .filter-section select, .filter-section input {
    padding: 8px;
    margin-right: 10px;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.total-row {
  font-weight: bold;
  background-color: #f9f9f9;
}
