

<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">List of all return book.</div>
    <div class="col-md-6 text-right">
      <!--<a routerLink="/students/acedemics/curriculum" routerLinkActive="active">Curriculum</a>
      <a routerLink="/account-settings/expense-category" routerLinkActive="active">Print Report</a>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <input id="searchbook" type="text"placeholder="Search Book" />
    </div>
    <div class="col-md-3">
      <button id="searchInput">GO</button>
    </div>
  </div>

  <div>
    <table class="table table-striped">
      <thead><tr>
  <td>Sr. No.</td>
  <td>Item Name</td>
  <td>Issue Date</td>
  <td>Return Date</td>
  <td>Submit Date</td>
  <td>Day Exceed</td>
</tr></thead>
      <tbody>
        <tr>
          <td colspan="6">No record found !!</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
