<div class="container mt-5">
  <!-- Header Section -->
  <div class="row layout-header">
    <div class="col-md-6">
      <h6>Fields marked with (<span>*</span>) are mandatory</h6>
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/payroll/department/list" routerLinkActive="active" class="btn btn-outline-primary btn-sm mx-2">View Department</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div>
        <label>Add Department<span>*</span></label>
        <input id="depart" placeholder="Enter your Department Name" />
      </div>
      <div>
        <label>Add Designation<span>*</span></label>
        <input id="desig" placeholder="Enter your Designation Name" />
      </div>
      <div>
       <button>Save</button>
      </div>
    </div>

  </div>

</div>
