

<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">
      Exam Schedule List
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/online-examination/exams-result" routerLinkActive="active">Online Exam Result</a> 
    </div>
  </div>
   

  <div class="maindiv">
    <div class="row note-entry">
      <table class="table table-striped">
        <tr>
          <td><strong>Exam Information</strong></td>
          <td><strong>Schedule</strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
        </tr> 
        <tr>
          <td>FA 1 (I)</td>
          <td>Term-1</td>
          <td><button class="btnschedule">Schedule</button></td>
          <td>Result : 31 Jul 2024</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Campus cover Catalogue</td>
          <td><button class="btnschedule">Schedule</button></td>
          <td>Result : 30 Sep 2023</td>
        </tr> 
      </table>
    </div>
  </div>
</div>

