
h2, h4 {
  text-align: left;
  margin-bottom: 20px;
}

 
/* Form Elements Styling */
form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  form div {
    margin-bottom: 15px;
  }

  form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }

  form input[type="text"], form input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form .btncls {
    display: flex;
    justify-content: center;
  }

  form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

    form button:hover {
      background-color: #0056b3;
    }

/* Section Titles */
.section-title p {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}

/* Earnings and Deductions */
.earning, .deduction {
  margin-bottom: 10px;
}

  .earning p, .deduction p {
    margin: 0;
  }

    .earning p strong, .deduction p strong {
      font-weight: bold;
    }

/* Table Styling */
.table {
  width: 100%;
  margin-top: 30px;
}

  .table th, .table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }

  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .table td {
    font-size: 14px;
  }

.table-bordered {
  border: 1px solid #ddd;
}

  .table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
  }

.text-center {
  text-align: center;
}
