
table td {
  padding: 5px;
  margin:1px;
}
table tr:nth-child(1),
table tr:nth-child(2) {
  font-weight: bold;
}

table tr {
  background-color:#ccc;
}

.download {
  border: 0px;
  background-color: antiquewhite;
  text-decoration: none; 
}

.submitdiv {
  border: 0.5px solid #ccc;
  padding: 5px;
  background-color: aliceblue;
}

  .submitdiv .form-group {
    margin-bottom: 15px;
  }

  .submitdiv label {
    width: 100%;
    text-align: left;
    display: block; /* Ensures labels are block-level for better alignment */
    margin-bottom: 5px;
  }

  .submitdiv input[type="text"],
  .submitdiv input[type="file"] {
    width: 100%; /* Ensures inputs take full width */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

.action-container {
  padding: 0px;
  border-radius: 9px;
}

#btnsaveall {
  border: 0;
  color: white;
  background-color: #4a8cdc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

  #btnsaveall:hover {
    background-color: #357bbd;
  }
