
.form-container {
  margin-top: 30px;
}

.table-container {
  margin-top: 30px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.col-md-5{
    margin:0px 5px;
    border:2px solid black;
}

.titles {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Wrap items to the next line if space is limited */
  margin-top: 20px;
}

  .titles p {
    margin: 5px 15px; /* Adjust margin for spacing between items */
    font-size: 14px; /* Optional: set font size */
    font-weight: bold; /* Optional: make the text bold */
  }
