
<div class="container">
  <div class="row layout-header">
    <div class="col-md-6">
      Payment History
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/students/pay-online" routerLinkActive="active">Pay Online</a>
      <!--<a routerLink="/students/online-examination/exams-result" routerLinkActive="active">Marksheet</a>-->
    </div>
  </div>

  <div class="pandingpayment">
    <p class="paymenthead">
      It's recommended to wait for at least 24 hours before checking your application to see if the fee has been updated.
    </p>
    <table class="pendingtable">
      <tr>
        <td>1</td>
        <td></td>
        <td>30 Jul 2024 01:58 PM</td>
        <td>Accept</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5"><p>Shopping_order_id : 1 | Razorpay_order_id : order_OerqeZU3APwCDp | Razorpay_payment_id : pay_Oerrx59MQ23rQQ | Razorpay_signature :
          b10e192cc33168e393e26e5432985519f5d24b557bdb77720be5ee4f76254d7b | Amount : 1 | |</p></td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <img src="../../../assets/img/img-01.jpg" />
        </td>
        <td>29 Mar 2024 07:49 AM</td>
        <td>Accept</td>
        <td>ak a ka ak a</td>
      </tr>
      <tr>
        <td colspan="5">
          <p>
            Purpose : test | Amount : 100 | |
          </p>
        </td>
      </tr>
    </table>
  </div>




  <div class="table-container">
    <table class="table table-striped paytable">
      <tr>
        <td>#</td>
        <td>Student Name</td>
        <td>Academic Year</td>
        <td>Class(Year)</td>
        <td>Paid Amount</td>
        <td>Dues</td>
        <td>Date</td>
        <td>Details</td>
      </tr>

      <tr>
        <td>1</td>
        <td>Jatin Sharma</td>
        <td>2024 - 2025</td>
        <td>I</td>
        <td>1500</td>
        <td class="dues">0</td>
        <td>26/11/2024</td>
        <td><button>View</button></td>
      </tr>
      <tr class="monthdiv">
        <td colspan="7">Nov</td>
        <td>By:AKS</td>
      </tr>

    </table>
  </div>
</div>
