<div class="container">
  <!-- Header Section -->
  <h6>View {{workType}}</h6>
  <div class="row layout-header">
    <div class="col-md-7">
      <p>Fields marked with (*) are mandatory.</p>
    </div>
    <div class="col-md-5 text-right">
      <a routerLink="/academics/copy-correction" routerLinkActive="active" class="action-btn">Copy Correction</a>
      <a routerLink="/academics/video-tutorial" routerLinkActive="active" class="action-btn">Videos</a>
      <a *ngIf="userRole != 'Student'" [routerLink]="['/academics/addassignment/assignment', workTypeRoute]" routerLinkActive="active" class="action-btn">Add New</a>

    </div>
  </div>

  <app-success-message-popup *ngFor="let message of messages; let i = index"
                             [messages]="message" [showSuccessPopup]="showSuccessPopup"
                             (closePopup)="closeMessagePopup(i)">
  </app-success-message-popup>

  <!-- Filter Section -->
  <div class="filter-section">
    <select *ngIf="userRole != 'Student'" id="class-select" [(ngModel)]="class_id" (change)="filter()">
      <option [value]="0">Select Class</option>
      <option *ngFor="let cls of classList;index as i" [value]="cls.class_id">{{cls.class_name}}</option>
    </select>

    <select *ngIf="userRole == 'Admin'" id="teacher-select" [(ngModel)]="faculty_id" (change)="filter()">
      <option [value]="0">Select Teacher</option>
      <option *ngFor="let t of teacherList;index as i" [value]="t.faculty_id">{{t.first_name}}</option>
    </select>

    <input type="text" id="search-homework" placeholder="Search Homework">

    <button id="btngo">GO</button>
  </div>

  <!-- Homework Entries -->
  <div class="container">
    <div class="homework-entries">
      <div class="row" *ngFor="let homework of filteredhomeworkData">
        <div class="homework-entry col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <p class="homework-date col-md-6">{{ homework.date | date : 'dd MMM yyyy' }}</p>
                <label class="homework-class col-md-6"><strong>{{ homework.class_name }}</strong></label>
              </div>

              <h6 class="homework-subjects">
                {{ workType }} for
                <ng-container *ngFor="let h of homework.subjects; index as i">
                  | {{ h.subject_name }}
                </ng-container>
              </h6>

              <ng-container *ngIf="homework.assignments.length > 0">
                <ng-container *ngIf="homework.assignments.length === 1">
                  <a [routerLink]="['/academics/addassignment/view-documents']"
                     [queryParams]="{urls: homework.assignmentUrls}" class="documnet-link">
                    View
                  </a>
                </ng-container>

                <ng-container *ngIf="homework.assignments.length > 1">
                  <a [routerLink]="['/academics/addassignment/view-documents']"
                     [queryParams]="{urls: homework.assignmentUrls}" class="documnet-link">
                    View {{ homework.assignments.length }} assignments
                  </a>
                </ng-container>
              </ng-container>



              <!-- Show the video link if available -->
              <ng-container *ngIf="homework.videoLink">
                <a [href]="homework.videoLink" target="_blank" rel="noopener noreferrer" class="video-link">
                  Watch Video
                </a>
              </ng-container>
            </div>


            <!-- Middle Section: Class ID and Description -->
            <div class="col-md-6">

              <div class="homework-description">
                <label><strong>Description:</strong></label>
                <div *ngFor="let des of homework.subjects">
                  <p class="subject-description"><strong>{{ des.subject_name }}: &nbsp;</strong> {{ des.description }}</p>
                </div>
              </div>
            </div>

            <!-- Right Section: Actions -->
            <div class="col-md-2 homework-actions">
              <div class="homework-info">
                <label><strong>Homework By: </strong><br /> {{ getTeacherNameById(homework.created_by) }}</label>
                <button [routerLink]="['/academics/assignmentreport',homework.assignment_id,homework.class_id]" routerLinkActive="active" class="report-btn"><i class="fas fa-flag"></i>Report</button>
                <!--<button [routerLink]="['/academics/assignmentreport', homework.assignment_id]" routerLinkActive="active" class="report-btn">
                  <i class="fas fa-flag"></i>Report</button>-->

              </div>

              <div class="homework-buttons">
                <button *ngIf="userRole != 'Student'" class="edit-btn" (click)="editDetail(homework.assignment_id)"><i class="fas fa-edit"></i>Edit</button>
                <button *ngIf="userRole != 'Student'" class="delete-btn" (click)="deleteAssignment(homework.assignment_id)"><i class="fas fa-trash-alt"></i>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-edit-assignments *ngIf="openPopup" [open]="openPopup" [data]="homeworkDataEdit" (popupValue)="closePopup($event)"></app-edit-assignments>


