

<div class="container">
  <h5 class="text-center my-4">IMAGE GALLERY</h5>
  <div class="row layout-header">
    <div class="col-md-6">list of all Images</div>
    <div class="col-md-6 text-right">
      <!--<a routerLink="/students/events" routerLinkActive="active">Events</a>
      <a routerLink="/students/important-notifications" routerLinkActive="active">Important Notifications</a>-->
    </div>
  </div>

  <!-- Early Childhood Education Level -->
  <div class="content-section"> 
    <div class="row">
      <div class="col-md-3">
        <div class="content-item">
          <img src="../../../assets/img/img-04.jpg" />
          <a href="#" class="btn">View Content</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-item">
          <img src="../../../assets/img/img-04.jpg" />
          <a href="#" class="btn">View Content</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-item">
          <img src="../../../assets/img/img-04.jpg" />
          <a href="#" class="btn">View Content</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-item">
          <img src="../../../assets/img/img-04.jpg" />
          <a href="#" class="btn">View Content</a>
        </div>
      </div>
    </div>
  </div>

 

</div>
