.container {
  font-family: Arial, sans-serif;
  background-color: white; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
 
h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.section {
  margin-bottom: 20px;
}

  .section label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: inline-block;
  }

  .section input[type="file"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }

  .section select,
  .section input[type="text"],
  .section input[type="date"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }

  .section input[type="text"],
  .section select {
    margin-top: 10px;
  }

  .section button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

    .section button:hover {
      background-color: #45a049;
    }

.instruction {
  background-color: #f8f8f8;
  border-left: 5px solid #4CAF50;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
}

  .instruction p {
    margin: 5px 0;
  }
